@CHARSET "UTF-8";

*{
	margin: 0;
	padding: 0;
	border-radius: 0 !important;
}

header{
	position: fixed;
	width: 100%;
	z-index: 1000;
}

.container {
	min-width: 970px;
}

#container{
	padding-top: 70px;
	min-height: 537px;
}
	
	
footer{
	margin-top: 20px;
	background: #E0E0E0;
	height: 80px;
}
footer > div > .logo{
	width: 400px;
	height: 100%;
	line-height: 80px;
	text-align: center;
	float:left;
	font-size: 30px;
	font-weight: 700;
	text-shadow: 3px 3px 10px #E0E0E0;	
}
footer > div > .links{
	width: calc(100% - 400px);
	float: left;
	height: 100%;
	padding: 20px;
	line-height: 20px;
	text-align: center
}
footer > div > .links > p{
	margin: 0;
}