@CHARSET "UTF-8";

.register-form{
	width: 400px;
	margin: 0 auto;
	border: 1px solid #E0E0E0;
	padding: 20px;
	margin-top: 50px;
	box-shadow: 5px 5px 20px #E0E0E0;
}
.register-form .title{
	text-align: center;
	font-size: 18px;
	font-weight: 700;	
	text-shadow: 3px 3px 10px #E0E0E0;	
}
.register-form .footer{
	text-align: center;
	color: #808080;
	margin-top: 10px;
	margin-bottom: -8px;
}
.register-form .btn-default{
	width: 100%;
}