#buy{
	border:2px solid;
	padding:10px 40px;
	border-color: #4169E1;
	background-color: lightblue;
	border-radius: 25px;
	font-size: 15px;
}
#sold{
	border:2px solid;
	padding:10px 40px;
	border-color: #4169E1;
	background-color: lightblue;
	border-radius: 25px;
	font-size: 15px;
}