<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

<session-factory>
	<!-- 1.必填连接数据库参数 -->
	<property name="hibernate.connection.driver_class">
		com.mysql.jdbc.Driver
	</property>
	<property name="hibernate.connection.url">
		jdbc:mysql://localhost:3306/springtransaction?useUnicode=true&amp;characterEncoding=utf-8
	</property>
	<property name="hibernate.connection.username">root</property>
	<property name="hibernate.connection.password">11111</property>

	<!-- Hibernate整合C3P0连接池 -->
	<property name="hibernate.connection.provider_class">
		org.hibernate.c3p0.internal.C3P0ConnectionProvider
	</property>
	<!-- C3P0参数 -->
	<property name="hibernate.c3p0.min_size">10</property>
	<property name="hibernate.c3p0.max_size">50</property>
	<property name="hibernate.c3p0.timeout">5000</property>
	<!-- 方言 -->
	<property name="hibernate.dialect">
		org.hibernate.dialect.MySQL5Dialect
	</property>

	<!-- 2.扩展参数 -->
	<!-- 显示SQL语句 -->
	<property name="hibernate.show_sql">true</property>
	<!-- 格式化SQL语句 -->
	<property name="hibernate.format_sql">true</property>
	<!-- 自动维护表  -->
	<property name="hibernate.hbm2ddl.auto">update</property>


	<!-- 3.映射文件路径 -->
	<mapping resource="com/niit/entity/Student.hbm.xml" />
	<mapping resource="com/niit/entity/StudentInfo.hbm.xml" />
	<mapping resource="com/niit/entity/Teacher.hbm.xml" />
	<mapping resource="com/niit/entity/StudentClass.hbm.xml" />
	<mapping resource="com/niit/entity/StudentGrade.hbm.xml" />
	<mapping resource="com/niit/entity/StudentChooseClass.hbm.xml" />
	<mapping resource="com/niit/entity/Review.hbm.xml" />
	<mapping resource="com/niit/entity/TeacherExchange.hbm.xml" />
	<mapping resource="com/niit/entity/StudentExchange.hbm.xml" />
</session-factory>

</hibernate-configuration>
